In [1]:
import pandas as pd

In [5]:
import os
# os.chdir('')

In [3]:
ctg=pd.read_csv('Cardiotocography.csv')

In [4]:
ctg.head()

,LB,AC,FM,UC,DL,DS,DP,ASTV,MSTV,ALTV,...,Min,Max,Nmax,Nzeros,Mode,Mean,Median,Variance,Tendency,NSP
0,120,0.000000,0.0,0.000000,0.000000,0.0,0.0,73,0.5,43,...,62,126,2,0,120,137,121,73,1,2
1,132,0.006380,0.0,0.006380,0.003190,0.0,0.0,17,2.1,0,...,68,198,6,1,141,136,140,12,0,1
2,133,0.003322,0.0,0.008306,0.003322,0.0,0.0,16,2.1,0,...,68,198,5,1,141,135,138,13,0,1
3,134,0.002561,0.0,0.007682,0.002561,0.0,0.0,16,2.4,0,...,53,170,11,0,137,134,137,13,1,1
4,132,0.006515,0.0,0.008143,0.000000,0.0,0.0,16,2.4,0,...,53,170,9,0,137,136,138,11,1,1

In [8]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [22]:
pca=PCA(n_components=6)
sc=StandardScaler()

In [23]:
X_std=sc.fit_transform(ctg.drop(columns='NSP'))

In [24]:
pca.fit(X_std)

PCA(n_components=6)

In [25]:
pca.components_

array([[-0.2240804 ,  0.0428074 ,  0.08050282,  0.1275821 ,  0.27936203,
         0.05851728,  0.20398176, -0.14488021,  0.31595348, -0.21682198,
        -0.0083881 ,  0.31301969, -0.33168872,  0.1331412 ,  0.25060485,
         0.12305903, -0.26286184, -0.30920798, -0.27638082,  0.29063052,
        -0.07065839],
       [ 0.27630176,  0.27888055,  0.03866896,  0.02458826,  0.01959378,
        -0.08006078, -0.11419785, -0.12299653,  0.13575565, -0.14138404,
         0.09655624,  0.2836811 , -0.14348092,  0.37949164,  0.2406634 ,
         0.12715931,  0.36637455,  0.32490334,  0.37539249,  0.10075995,
         0.2259412 ],
       [ 0.3418922 , -0.1867356 ,  0.09992163, -0.11290557,  0.20346846,
         0.07373636,  0.33548962,  0.49209474, -0.07430515,  0.31983927,
        -0.43283143,  0.06272121,  0.03100351,  0.1872372 ,  0.10552584,
        -0.00348759,  0.02493196, -0.02121993,  0.06681959,  0.26561883,
        -0.04010209],
       [ 0.06022019, -0.43642227, -0.00182786, -0.30086585,  0.07821979,
         0.03749862, -0.09612128,  0.09425273, -0.04312758,  0.21460994,
         0.37770274,  0.10548998, -0.28216974, -0.23581804,  0.15819524,
         0.2949385 , -0.01822395, -0.05307495, -0.04344635, -0.09448814,
         0.47626068],
       [-0.08203596,  0.10174996,  0.63479087, -0.45886608, -0.3497768 ,
        -0.21536398,  0.28059348, -0.04867863, -0.06910523,  0.01165639,
         0.18424383,  0.05885945, -0.03823633,  0.06479185,  0.09892512,
        -0.20924051, -0.04439895,  0.01865515, -0.04018383, -0.0252588 ,
        -0.11597553],
       [-0.04166298,  0.12983854, -0.17423959, -0.36596719, -0.17643876,
         0.69310814, -0.17538023,  0.0933106 , -0.05255388,  0.03258943,
         0.14056179,  0.09227618,  0.02263453,  0.23761261,  0.07513738,
         0.18068921, -0.10912108,  0.04224425, -0.01443805, -0.03387074,
        -0.35172381]])

In [26]:
ctg.shape

(2126, 22)

In [27]:
pca.explained_variance_.sum()

15.14432085657701

In [28]:
pca.explained_variance_

array([6.06613694, 3.51059685, 1.82624718, 1.49869689, 1.21825697,
       1.02438603])

In [29]:
pca.explained_variance_ratio_

array([0.28872779, 0.16709265, 0.08692325, 0.07133295, 0.05798495,
       0.04875734])

In [30]:
final_data = pd.DataFrame(pca.fit_transform(X_std),columns = ['PC' + str(i) for i in range(1,7)])

In [31]:
final_data['NSP']=ctg['NSP']

In [32]:
final_data.head()

        PC1       PC2       PC3       PC4       PC5       PC6  NSP
0 -0.260678 -2.561700  1.280879  1.832715  0.402412 -0.240927    2
1  1.989242  2.266549 -1.107938 -0.584517 -0.312185  0.621133    1
2  2.015691  1.998412 -1.284007 -0.277867 -0.646425  0.308512    1
3  2.157733  2.101173 -2.188734  1.658684  0.022104 -0.443698    1
4  1.781391  2.161913 -2.492769  0.765791  0.206286 -0.328544    1